@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0px;
    background-color: #FFFFFF;
}

.dialog {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-170px,0px);
    width: 340px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    font-family: 'Noto Sans TC', sans-serif;
    display: none;
    z-index: 4;
}

.dialog > .dialog_header {
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    margin-bottom: 5px;
}

.dialog > .dialog_close {
    position: absolute;
    top: 27px;
    right: 17px;  
    cursor: pointer;             
}

.dialog > .dialog_title {
    flex: none;
    width: 340px;
    text-align: center;
    height: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
}

.dialog > input {
    width: 310px;
    height: 47px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    padding: 15px; 

}

.dialog > button {
    width: 310px;
    height: 47px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background: #448899;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;
}

.dialog > .dialog_link {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}

.dialog > a {
    cursor: pointer; 
}

#nav {
    width: 100%;
    border-bottom: 1px solid rgba(224, 221, 221, 0.753);
}

#nav_2 {
    height: 54px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; 
}

#homepage {
    grid-column: 1/4;
    width: 150px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;   
}

#check {
    grid-column: 11/12;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666   
}

.login_logout {
    grid-column: 12/13;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}

#logout {
    display: none;
}

main {
    width: 1200px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#album {
    flex: none;
    width: 540px;
    height: 406px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 37px;
    position: relative;
}

#img > img {
    width: 100%;
    aspect-ratio: 4/3;
    position: absolute;
}

.change {
    position: absolute;
    top: 180px;
    z-index: 2;
    width: 40px;
    height: 40px;
    opacity: 0.6;

}

#left {
    left: 5px;
}

#right {
    right: 5px;
}  

#photo_btns {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 20px;
    bottom: 20px;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.photo_list {
    flex: none;
    width: 18px;
    height: 18px;
    background: rgba(255, 255, 255, 0.849);
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

#info {
    flex: none;
    width: 600px;
    height: 406px; 
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 37px;
}

#name {
    width: 600px;
    height: 33px;
    flex: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

#cat {
    flex: none;
    width: 600px;
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

#reserve {
    flex: none;
    width: 600px;
    height: 302px;
    background: #E8E8E8;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

}

.option {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}

.option > input[type="radio"]{
    height: 22px;
    width: 22px;
    border: none;
    accent-color: #448899;
}

#quote {
    padding-left: 20px;
    padding-right: 20px; 
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

#date {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}

#btn {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px; 
    width: 154px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 10px 10px;
    background: #448899;
    border-radius: 5px;
    border: none;
}

#intro {
    flex: none;
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    border-top: 1px solid #E8E8E8;
    
}

#description {
    flex: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
    text-align: justify;
}

#address {
    flex: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
    text-align: justify;
}

#transport {
    flex: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
    text-align: justify;
}

.subtitle {
    flex: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
    text-align: justify;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 104px;
    margin-top: 100px;
    background: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    width: 234px;
    height: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    #nav_2 {
        width: 100%;
        grid-template-columns: 2fr 1fr 1fr;
    }

    #homepage {
        grid-column: 1/2;
        padding-left: 20px;
    }

    #check {
        grid-column: 2/3;
    }

    .login_logout {
        grid-column: 3/4;
    }

    main {
        width: 100%;
    }

    #img {
        width: 45%;
        height: auto;
    }

    #info {
        width: 45%;
    }

    #name, #cat, #reserve {
        width: 100%;
    }

    #intro {
        width: 95%;
    }
    
    footer {
        width: 100%;
    }

}


@media screen and (max-width: 900px) {
    #img {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }

    #info {
        width: 100%;
    }


    #name, #cat, #reserve {
        width: 90%;
    }

    #intro {
        width: 90%;
    }
}