<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>景點介紹</title>
        <link rel="stylesheet" href="/static/attraction.css" type="text/css">
    </head>
    <body>
        <script src="/static/attraction.js"></script>
        <!-- dialog -->
        <div>
            <!-- 登入 -->
            <div id="dialog_login" class="dialog">
                <div class="dialog_header"></div>
                <img class="dialog_close" onclick="close_dialog_login()" src="/static/material/icon_close.png">
                <div class="dialog_title">登入會員帳號</div>
                <input id="email" type="email" placeholder="輸入電子信箱">
                <input id="pswd" type="password" placeholder="輸入密碼">
                <button id="btn_signin" onclick="sign_in()">登入帳戶</button>
                <div id="login_msg"></div>
                <div class="dialog_link">還沒有帳戶？<a onclick="close_dialog_login(),show_dialog_signup()">點此註冊</a></div>
            </div>
            <!-- 註冊 -->
            <div id="dialog_signup" class="dialog">
                <div class="dialog_header"></div>
                <img class="dialog_close" onclick="close_dialog_signup()" src="/static/material/icon_close.png">
                <div class="dialog_title">註冊會員帳號</div>
                <input id="user" type="text" placeholder="輸入姓名">
                <input id="new_email" type="email" placeholder="輸入電子信箱">
                <input id="new_pswd" type="password" placeholder="輸入密碼">
                <button id="btn_signup" onclick="sign_up()">註冊新帳戶</button>
                <div id="signup_msg"></div>
                <div class="dialog_link">已經有帳戶了？<a onclick="close_dialog_signup(),show_dialog_login()">點此登入</a></div>
            </div> 
        </div>
        <!-- nav -->
        <nav id="nav">
            <div id="nav_2">
                <a id="homepage">台北一日遊</a>
                <a id="check">預定行程</a>
                <a class="login_logout" id="login" onclick="show_dialog_login()">登入/註冊</a>
                <a class="login_logout" id="logout" onclick="sign_out()">登出系統</a>
            </div> 
        </nav>
        <main>
            <!-- 景點圖片 -->
            <div id="album">
                <div id="img"></div>
                <div>
                    <img src="/static/material/btn_leftArrow.png" class="change" id="left" onclick="photo_change(-1);"/>
                    <img src="/static/material/btn_rightArrow.png" class="change" id="right" onclick="photo_change(1);"/>
                    <div id="photo_btns">
                    </div>
                </div>
            </div>
            <!-- 圖片右側資訊 -->
            <div id="info">
                <div id="name"></div>
                <div id="cat"></div>
                <div id="reserve">
                    <div class="option">訂購導覽行程</div>
                    <div id="quote">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="option">選擇日期：
                        <input id="date" type="date">
                    </div>
                    <div class="option">選擇時間：
                        <input type="radio" name="period" value="am" onclick="price()">上半天
                        <input type="radio" name="period" value="pm" onclick="price()">下半天
                    </div>
                    <div class="option">導覽費用：<span id="price">新台幣 2000 元</span></div>
                    <button id="btn">開始預訂行程</button>
                </div>
            </div>
            <!-- 下方詳細資訊 -->
            <div id="intro">
                <div id="description"></div>
                <div class="subtitle">景點地址：</div>
                <div id="address"></div>
                <div class="subtitle">交通方式：</div>
                <div id="transport"></div>
            </div>
        </main>
        <!-- footer -->
        <footer id="footer">
            <div id="copyright">COPYRIGHT © 2021 台北一日遊</div>
        </footer>

    </body>
</html>