<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>預定行程</title>
        <link rel="stylesheet" href="/static/booking.css" type="text/css">
    </head>
    <body>
        <!-- dialog -->
        <div>
            <!-- 登入 -->
            <div id="dialog_login" class="dialog">
                <div class="dialog_header"></div>
                <img class="dialog_close" onclick="close_dialog_login()" src="/static/material/icon_close.png">
                <div class="dialog_title">登入會員帳號</div>
                <input id="email" type="email" placeholder="輸入電子信箱">
                <input id="pswd" type="password" placeholder="輸入密碼">
                <button id="btn_signin" onclick="sign_in()">登入帳戶</button>
                <div id="login_msg"></div>
                <div class="dialog_link">還沒有帳戶？<a onclick="close_dialog_login(),show_dialog_signup()">點此註冊</a></div>
            </div>
            <!-- 註冊 -->
            <div id="dialog_signup" class="dialog">
                <div class="dialog_header"></div>
                <img class="dialog_close" onclick="close_dialog_signup()" src="/static/material/icon_close.png">
                <div class="dialog_title">註冊會員帳號</div>
                <input id="user" type="text" placeholder="輸入姓名">
                <input id="new_email" type="email" placeholder="輸入電子信箱">
                <input id="new_pswd" type="password" placeholder="輸入密碼">
                <button id="btn_signup" onclick="sign_up()">註冊新帳戶</button>
                <div id="signup_msg"></div>
                <div class="dialog_link">已經有帳戶了？<a onclick="close_dialog_signup(),show_dialog_login()">點此登入</a></div>
            </div> 
        </div>
        <!-- nav -->
        <nav id="nav">
            <div id="nav_2">
                <a id="homepage" onclick="back_to_home()">台北一日遊</a>
                <a id="check" onclick="show_booking()">預定行程</a>
                <a class="login_logout" id="login" onclick="show_dialog_login()">登入/註冊</a>
                <a class="login_logout" id="logout" onclick="sign_out()">登出系統</a>
            </div> 
        </nav>
        <div class="loading_box">
            <div class="loading"></div>
        </div>
        <main>
            <div id="booking">
                <div class="title">您好，<span id="username"></span>，待預訂的行程如下：</div>
                <div id="book_info">
                    <img id="image"/>
                    <div id="attraction_info">
                        <div class="book_name">台北一日遊：<span id="name"></span></div>
                        <div class="book_item">日期：<span class="book_detail" id="date"></span></div>
                        <div class="book_item">時間：<span class="book_detail" id="time"></span></div>
                        <div class="book_item">費用：<span class="book_detail" id="price"></span></div>
                        <div class="book_item">地點：<span class="book_detail" id="address">臺北市 大安區忠孝東路4段</span></div>
                    </div>
                    <div>
                        <img src="/static/material/icon_delete.png" id="delete" onclick="delete_booking();"/>
                    </div>
                </div>
                <div id="no_data">
                    目前沒有任何待預定的行程
                </div>
            </div>
            <div class="main_box" id="user_info">
                <div class="title">您的聯絡資訊</div>
                <div class="contact_item">聯絡姓名：<input type="text" id="contact_user"></div>
                <div class="contact_item">連絡信箱：<input type="email" id="contact_email"></div>
                <div class="contact_item">手機號碼：<input type="tel" id="contact_phone"></div>
                <div id="contact_remind">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            </div>
            <div class="main_box" id="card_info">
                <div class="title">信用卡付款資訊</div>
                    <div class="credit_item">
                        <span>卡片號碼：</span><div class="tpfield" id="card-number"></div>
                    </div>
                    <div class="credit_item">
                        <span>過期時間：</span><div class="tpfield" id="card-expiration-date"></div>
                    </div>
                    <div class="credit_item">
                        <span>驗證密碼：</span><div class="tpfield" id="card-ccv"></div>
                    </div> 
                </div>
            </div>
            <div class="main_box" id="total_info">
                <div class="summary">
                    <div id="total">總價：新台幣 2000 元</div>
                    <button id="pay_btn">確認訂購並付款</button>
                </div> 
            </div>
        </main>
        <!-- footer -->
        <footer id="footer">
            <div id="copyright">COPYRIGHT © 2021 台北一日遊</div>
        </footer>
    </body>

<script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
<script src="/static/booking.js"></script>
</html>